

<!DOCTYPE html>
<html>
    <body>
      <%Time.now%>
        <!-- <p><%="The date is #{Time.now}" %></p> -->
        <!-- Time.now.strftime("%H:%M:%s") -->
        <p><%="The date is Thursday, June 28, 2018" %></p>
      </body>
</html>
